<!-- views/index.ejs -->
<!doctype html>
<html>
  <head>
    <title>Main Page</title>
  </head>
  <body>
    <div>
      <div>
        <h1>Node Authentication</h1>
        <a href="/login">Login</a>
        <a href="/signup">Sign Up</a>
      </div>
    </div>
  </body>
</html>
