<!-- views/profile.ejs -->
<!doctype html>
<html>
  <head>
    <title>borm</title>
  </head>
  <body>
        <div>
          <h1>Hola borm!</h1>
          <h2>Hope you have a good day :^) <h2>
        </div>
        <div>
            <div>
                <h3>Information about your profile</h3>
                    <p>
                        <strong>ID</strong>: 5a02c99673d68a53a44de8d2<br>
                        <strong>Username</strong>: borm<br>
                        <strong>E-Mail</strong>: syt@ist.supercool<br>
                        <strong>Password</strong>: $2a$08$V.eQYcB6LkKuePyWxoUQGerMPWwK0vc8ZlPMPHYQ3vKY3RjKm4lGy
                      </p>
            </div>
        </div>
        <div>
          <a href="/logout">Logout</a>
        </div>
  </body>
</html>
